#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}

{% if netbox_setup_oidc %}
from .oidc import *
{% endif %}

DATABASE = {
    'NAME': '{{ netbox_database }}',
    'USER': '{{ netbox_database_user }}',
    'PASSWORD': '{{ netbox_database_password }}',
    'HOST': '{{ netbox_database_host }}',
    'PORT': '{{ netbox_database_port | default('') }}',
}
REDIS = {
    'tasks': {
{% if netbox_redis_sentinels is defined and netbox_redis_sentinels | length >0 %}
        'SENTINELS': [
  {% for sentinel in netbox_redis_sentinels %}
            ('{{ sentinel.host }}', {{ sentinel.port }}),
  {% endfor %}
        ],
        'SENTINEL_SERVICE': '{{ netbox_redis_sentinel_service }}',
        'SENTINEL_TIMEOUT': {{ netbox_redis_default_timeout }},
{% else %}
        'HOST': '{{ netbox_redis_host }}',
        'PORT': {{ netbox_redis_port }},
{% endif %}
        'USERNAME': '{{ netbox_redis_username }}',
        'PASSWORD': '{{ netbox_redis_password }}',
        'DATABASE': 0,
        'SSL': {{ netbox_redis_ssl_enabled }},
    },
    'caching': {
{% if netbox_redis_sentinels is defined and netbox_redis_sentinels | length >0 %}
        'SENTINELS': [
  {% for sentinel in netbox_redis_sentinels %}
            ('{{ sentinel.host }}', {{ sentinel.port }}),
  {% endfor %}
        ],
        'SENTINEL_SERVICE': '{{ netbox_redis_sentinel_service }}',
        'SENTINEL_TIMEOUT': {{ netbox_redis_default_timeout }},
{% else %}
        'HOST': '{{ netbox_redis_host }}',
        'PORT': {{ netbox_redis_port }},
{% endif %}
        'USERNAME': '{{ netbox_redis_username }}',
        'PASSWORD': '{{ netbox_redis_password }}',
        'DATABASE': 1,
        'SSL': {{ netbox_redis_ssl_enabled }},
    }
}

{% if netbox_setup_ldap_auth %}
REMOTE_AUTH_BACKEND = 'netbox.authentication.LDAPBackend'
{% endif %}

{% for setting, value in netbox_config.items() %}
{% if value in [True, False] %}
{{ setting }} = {{ 'True' if value else 'False' }}
{% else %}
{{ setting }} = {{ value | to_nice_json }}
{% endif %}
{% endfor %}

{% if netbox_media_storage_s3 == true and netbox_media_storage_s3_config is defined %}
STORAGE_BACKEND = 'storages.backends.s3boto3.S3Boto3Storage'
STORAGE_CONFIG = {
    'AWS_ACCESS_KEY_ID': '{{ netbox_media_storage_s3_config.aws_access_key_id }}',
    'AWS_SECRET_ACCESS_KEY': '{{ netbox_media_storage_s3_config.aws_secret_access_key }}',
    'AWS_STORAGE_BUCKET_NAME': '{{ netbox_media_storage_s3_config.aws_storage_bucket_name }}',
    'AWS_S3_REGION_NAME': '{{ netbox_media_storage_s3_config.aws_s3_region_name }}',
    'AWS_S3_ENDPOINT_URL': '{{ netbox_media_storage_s3_config.aws_s3_endpoint_url }}',
    {% if netbox_media_storage_s3_config.aws_s3_verify is defined %}
    'AWS_S3_VERIFY': '{{ netbox_media_storage_s3_config.aws_s3_verify }}',
    {% endif %}
}
{% endif %}

{% if netbox_field_choices is defined and netbox_field_choices | length >0 %}
FIELD_CHOICES = {
  {% for field in netbox_field_choices %}
   '{{ field.path }}': (
        ('{{ field.slug }}', '{{ field.displayname }}', '{{ field.color }}'),
    ),
    {% if loop.last %}
    {% endif %}
  {% endfor %}
}
{% endif %}