# {{ ansible_managed }}

server {

{% if netbox_ssl_certificate is defined and netbox_ssl_certificate_key is defined %}
    listen [::]:443 ssl ipv6only=off;
{% else %}
    listen [::]:80 ipv6only=off;
    server_name _;
{% endif %}

    server_name {% for host in netbox_config.ALLOWED_HOSTS %}{{ host }} {% endfor %};

{% if netbox_ssl_certificate is defined and netbox_ssl_certificate_key is defined %}
    ssl_certificate /etc/nginx/ssl/{{ netbox_ssl_certificate | basename }};
    ssl_certificate_key /etc/nginx/ssl/{{ netbox_ssl_certificate_key | basename }};
{% endif %}

    client_max_body_size 25m;

    location /static/ {
        alias {{ netbox_install_directory }}/netbox/static/;
    }

    location / {
        proxy_pass http://127.0.0.1:{{ netbox_gunicorn_port }}; 
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /nginx_status {
        stub_status;
        allow 127.0.0.1;        #only allow requests from localhost
        deny all;               #deny all other hosts
    }
}

{% if netbox_ssl_certificate is defined and netbox_ssl_certificate_key is defined %}

server {
    # Redirect HTTP traffic to HTTPS
    listen [::]:80 ipv6only=off;
    server_name _;
    return 301 https://$host$request_uri;
}

{% endif %}